body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #f0f2f5;
  padding: 1rem;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding: 3rem;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  max-width: 400px;
  width: 100%;
}

.login-logo {
  width: 150px;
  height: auto;
  margin-bottom: 2rem;
}

.login-header {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

.email-login {
  width: 100%;
  margin-bottom: 1.5rem;
}

.email-login-row {
  display: flex;
  gap: 0.5rem;
}

.email-input {
  flex: 1;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4facfe;
  color: #ffffff;
  border: none;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  text-align: center;
}

.email-login-button {
  padding: 1rem;
  font-size: 1rem;
  background-color: #4facfe;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.google-login-button {
  width: 100%;
  background-color: #ffffff;
  color: #757575;
  border: 1px solid #ddd;
  margin-top: 1rem;
}

.google-login-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
}

.login-button:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background-color: #3b8efc;
}

.google-icon {
  margin-right: 8px;
  font-size: 1.5rem;
}

.error-message {
  color: #ff4d4d;
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 480px) {
  .login-content {
    padding: 2rem;
  }

  .login-button,
  .email-login-button {
    font-size: 0.875rem;
    padding: 0.75rem 1rem;
  }

  .login-header {
    font-size: 1.75rem;
  }

  .email-input {
    padding: 0.75rem;
  }
}


.project-selection-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.project-option {
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.project-option.ua {
  background-color: #007bff;
}

.project-option.main {
  background-color: #28a745;
}

.project-option.pl {
  background-color: #ffc107;
}

.project-option input {
  margin-right: 8px;
}

.project-option:hover {
  opacity: 0.9;
}
